* {
  text-align: center;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(229, 235, 236);
}

tr:hover {
  background-color: #ddd;
}
.head {
  padding-top: 30px;
  position: relative;
  left: 560px;
}
